.swiper {
    width: 100%;
    height: 100%;
  }

  .brand-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.brand__container{
    width: 100%;
    height: 223.7px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    .brand__item{
        width: 1336px;
        height: 223.7px;
        /* background-color: blue; */
        border: 1px solid #e0e0e2;
        border-radius: 16px;
        padding: 24px 0;
        .brand__title{
            text-align: center;
            font-size: 21px;
            color: #0c0c0c;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            .brand__svg{
                width: 24px;
                height: 24px;
                fill: #f9bc00;
            }
        }
        .brand__image__item{
            width: 142px;
            height: 118px;
            /* background-color: lightseagreen; */
            padding: 4px 16px;
            border-left: 2px solid #e0e0e2;
            .brand__image{
                width: 110px;
                height: 110px;
                object-fit: contain;
            }
        }
    }
}